.FZ-FolderSetting .suggestion {
    position: relative;
    display: inline-block;
    overflow-y: visible;
}

.FZ-FolderSetting .input-search {
    /* border: 1px solid #FFFFFF; */
    position: relative;
    /* display: none; */
}


.FZ-FolderSetting .dropdown-menu {
    position: absolute;
    z-index: 1;

    /*position the autocomplete items to be the same width as the container:*/

    /* top: 100%; */
    /* left: 0; */
    right: 5px;
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-s);
    padding: var(--size-2-3);

    text-align: start;
}

.FZ-FolderSetting .dropdown-menu div {
    border-radius: var(--radius-s);
    padding: var(--size-2-3) var(--size-4-3);
    padding-inline-start: 12px;
}

.FZ-FolderSetting .dropdown-menu div:hover {
    background-color: var(--background-modifier-hover);
    border-radius: var(--radius-s);
}

.FZ-FolderSetting .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    /* background-color: DodgerBlue !important; */
    /* color: #ffffff; */
}
